[Desktop Entry]
Name=KitHack
Encoding=UTF-8
Exec=sh -c 'cd /home/gajendra/Tools/KitHack-master && sudo python KitHack.py'
Icon=/usr/share/icons/kithack.png
Terminal=true
Type=Application


